<div class="container">
  
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign in</h4>
        </div>
       
       
<div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal"  ngNativeValidate >
<div class="form-group">
 <label for="email" >email</label>
      <input type="email" id="email" class="form-control" formControlName="email" required>
      <label for="zipcode">zipcode</label>
      <input type="text" id="zipcode" class="form-control" formControlName="zipcode" required>
      </div>
     
       <button class="btn btn-primary" (click)="onLogin()">Login</button>
    
    </form>
    </div>



        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  

  <h1>step with us </h1>


</div>







    